In [1]:
# Import Libraries 
import pandas as pd
import numpy as np

In [5]:
# Load dataset 
df1= "/content/diabetes.csv"
df1= pd.read_csv(df2, index_col=0)
df1.head()

,gender,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,sgot,alkphos,is_patient
age,,,,,,,,,,
65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [7]:
df1.info

<bound method DataFrame.info of        gender   age  hypertension  heart_disease ever_married      work_type  \
id
9046     Male  67.0             0              1          Yes        Private
51676  Female  61.0             0              0          Yes  Self-employed
31112    Male  80.0             0              1          Yes        Private
60182  Female  49.0             0              0          Yes        Private
1665   Female  79.0             1              0          Yes  Self-employed
...       ...   ...           ...            ...          ...            ...
18234  Female  80.0             1              0          Yes        Private
44873  Female  81.0             0              0          Yes  Self-employed
19723  Female  35.0             0              0          Yes  Self-employed
37544    Male  51.0             0              0          Yes        Private
44679  Female  44.0             0              0          Yes       Govt_job

      Residence_type  avg_glucose_level   bmi   smoking_status  stroke
id
9046           Urban             228.69  36.6  formerly smoked       1
51676          Rural             202.21   NaN     never smoked       1
31112          Rural             105.92  32.5     never smoked       1
60182          Urban             171.23  34.4           smokes       1
1665           Rural             174.12  24.0     never smoked       1
...              ...                ...   ...              ...     ...
18234          Urban              83.75   NaN     never smoked       0
44873          Urban             125.20  40.0     never smoked       0
19723          Rural              82.99  30.6     never smoked       0
37544          Rural             166.29  25.6  formerly smoked       0
44679          Urban              85.28  26.2          Unknown       0

[5110 rows x 11 columns]>

Second choice: dataset 1

1) Source of data

Kaggle: https://www.kaggle.com/datasets/mathchi/diabetes-data-set

2) Brief description of data

This dataset is originally from the National Institute of Diabetes and Digestive and Kidney Diseases. The objective is to predict based on diagnostic measurements whether a patient has diabetes.

3) What is the target?

If a patient is likey to develop diabetes or not

4) Is this a classification or regression problem?

Classification

5) How many features?

9

6) How many rows of data.

5,110

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?

Being able to tune the data to be accurate and precicise enough to be able to evaluate if a patient will develop diabetes. Being able to explore and explain the data in a way that makes sense and leads to logical conclusions.

In [4]:
# Load dataset 
df2= "/content/healthcare-dataset-stroke-data.csv"
df2= pd.read_csv(df1, index_col=0)
df2.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,,
9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [6]:
df2.info

<bound method DataFrame.info of      gender  tot_bilirubin  direct_bilirubin  tot_proteins  albumin  ag_ratio  \
age
65   Female            0.7               0.1           187       16        18
62     Male           10.9               5.5           699       64       100
62     Male            7.3               4.1           490       60        68
58     Male            1.0               0.4           182       14        20
72     Male            3.9               2.0           195       27        59
..      ...            ...               ...           ...      ...       ...
60     Male            0.5               0.1           500       20        34
40     Male            0.6               0.1            98       35        31
52     Male            0.8               0.2           245       48        49
31     Male            1.3               0.5           184       29        32
38     Male            1.0               0.3           216       21        24

     sgpt  sgot  alkphos  is_patient
age
65    6.8   3.3     0.90           1
62    7.5   3.2     0.74           1
62    7.0   3.3     0.89           1
58    6.8   3.4     1.00           1
72    7.3   2.4     0.40           1
..    ...   ...      ...         ...
60    5.9   1.6     0.37           2
40    6.0   3.2     1.10           1
52    6.4   3.2     1.00           1
31    6.8   3.4     1.00           1
38    7.3   4.4     1.50           2

[583 rows x 10 columns]>

First choice: dataset 2

1) Source of data

Kaggle: https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset?resource=download

2) Brief description of data

This dataset is used to predict whether a patient is likely to get stroke based on the input parameters like gender, age, various diseases, and smoking status. Each row in the data provides relavant information about the patient.

3) What is the target?

If a patient will have a stroke or not

4) Is this a classification or regression problem?

Classification

5) How many features?

12

6) How many rows of data.

583

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?

Being able to tune the data to be accurate and precicise enough to be able to evaluate if a patient will have a stroke. Being able to explore and explain the data in a way that makes sense and leads to logical conclusions.